@import '~bootstrap/dist/css/bootstrap.min.css';


h1 {
    background-color: black;
    color: black;
    font-size: 75px;
    -webkit-text-stroke: 2px yellow;
    margin: 0px;
    padding: 0px;

}

